.idea
client/node_modules
client_type/node_modules
server/node_modules
server_type/node_modules
server_type/dist
server_type/.env
server_type/static
client_type/.env
client/.env
server/.env
server/static
.vscode
